$desktop-width: 1440px;
$mobile-width: 415px; //375px;;

// colors
$primary-color: hsl(26, 100%, 55%);
$primary-light-color: hsl(25, 100%, 94%);
$secondary-color: hsl(220, 14%, 75%);
$title-color: hsl(220, 13%, 13%);
$text-color: hsl(219, 9%, 45%);
$line-color: hsl(223, 64%, 98%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);
