.cart {
  position: relative;
  &__container {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 45px rgb(0, 0, 0, 0.2);
    width: 350px;
    height: 220px;
    top: 50px;
    right: -115px;
  }
  &__header {
    border-bottom: 1px solid $line-color;

    h2 {
      font-size: 1rem;
      padding: 1rem;
      margin: 0;
    }
  }
  &__content {
    padding-top: 2rem;
    font-size: 1rem;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    .btn {
      margin-top: 10px;
      width: 100%;
    }
  }
  &__item-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__item-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;

    .title {
      margin: 0;
    }
  }
  &__item-img {
    width: 50px;
    border-radius: 5px;
  }
}

.cart.open {
  .cart__container {
    display: block;
  }
}
