@import "cart";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $line-color;
  padding: 1rem 0;

  &__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-transform: capitalize;
    color: $text-color;
    font-size: 1rem;
    transition: transform 0.5s;

    @media screen and (max-width: $mobile-width) {
      transform: translateX(-100%);
      flex-direction: column;
      position: absolute;
      background-color: $white-color;
      height: 100vh;
      width: 60%;
      left: 0;
      top: 0;
      padding-top: 4.5rem;
      font-weight: 600;
      color: $title-color;
      margin: 0;
    }
  }
  &__item {
    cursor: pointer;
    position: relative;

    &:hover {
      color: darken($text-color, 20%);
    }
    &:hover::after {
      position: absolute;
      content: " ";
      background-color: $primary-color;
      left: 0;
      bottom: -160%;
      height: 4px;
      width: 100%;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: auto;

    @media screen and (max-width: $mobile-width) {
      gap: 10px;
    }

    .profile {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $primary-color;
      }
    }
    .profile img {
      width: 100%;
    }
  }
  .burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 12px;
    justify-content: space-between;
    margin: 0 40px;
    z-index: 1;
    .line {
      width: 15px;
      height: 2px;
      background-color: $black-color;
      transition: transform 0.5s;
    }

    @media screen and (max-width: $mobile-width) {
      display: flex;
    }
  }
  .overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
}

.nav.open {
  .overlay {
    position: fixed;
    display: block;
  }
  .burger-menu {
    position: fixed;
    left: 5px;
    .line-1 {
      transform: rotate(45deg);
      transform-origin: top left;
    }
    .line-2 {
      display: none;
    }
    .line-3 {
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }
  .nav__menu {
    position: fixed;
    transform: translateX(0);
  }
}
